
name: Lint Code Base

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  super-olinter:
    name: Super-Linter
    runs_on: ubuntu-latest
    steps:
      - name: Checkout code
      - uses: actions/checkout@v3

      - name: Run Super-Linter
        uses: github/super-linter@v46
        env:
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
